.widget {
    flex: 0.35;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    .widget_input {
        display: flex;
        align-items: center;
        background-color: var(--Mainbackground);
        padding: 10px;
        border-radius: 10px;
        margin-left: 20px;
        margin-top: 5px;

        input {
            border: none;
            background-color: var(--Mainbackground);
            outline: none;
        }
        .widget_searchIcon {
            color: gray;
        }
    }

    .widgetsContainer {
        margin-top: 5px;
        margin-left: 20px;
        padding: 20px;
        padding-top: 5px;
        background-color: #f5f8fa;
        border-radius: 20px;

        .signOutButton {
            width: 100%;
        }

        h2 {
            font-size: 18px;
            font-weight: 800;
        }
    }
}

@media only screen and (max-width:999px) {
    .widget {
        flex:0;
        display: none;
    }
}